/* #region variables */
:root {
  /* colors */
  --DARIY: #fcfcfc;
  --WHITE: #ffffff;
  --CLOUD: #f4f4fd;
  --CORNFLOWER: #e7e9fc;
  --LIGHT-SLATE: #8e8f99;
  --SLATE: #434455;
  --COMON_BLACK: #2f2f37;
  --GRAY: #2e2f42b2;
  --NAVY_BLUE_MODAL: #2e2f4266;
  --NAVY_BLUE: #2e2f42;
  --OCEAN: #404bbf;
  --IRIS: #4d5ae5;
  --GREEN: #31d0aa;
}
/* #endregion */

/* #region Base CSS Style */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--WHITE);
}
/* #endregion Base CSS Style */

/* #region Reset Smart Settings to Default */
/* Remove padding margin and list style*/
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Making it easier to work with images */
img,
svg {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inheriting fonts for inputs and buttons */
input,
/* button, */
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  outline: none;
  font-style: normal;
  color: currentColor;
}

address {
  font-style: normal;
}

/* #endregion Smart Settings to Default*/

/* #region  Utils style */

.is-open {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.block-center {
  display: block;
  text-align: center;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1140px;
    padding: 0 15px;
  }
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

/* #endregion Common */

/* #region HEADER */
.header {
  border-bottom: 1px solid var(--CORNFLOWER);
  background: var(--WHITE);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-blue {
  color: var(--IRIS);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-dark {
  color: var(--NAVY_BLUE);
  margin-right: 120px;
}

.logo-white {
  color: var(--CLOUD);
}

/* Navigation Menue */
.menu-wrapper.is-open {
  display: block;
}

.menu-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--WHITE);
  padding: 24px 24px 40px 16px;
  /* transform: translateY(-100%); */
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.menu-open-btn,
.menu-close-btn {
  background-color: inherit;
  border: none;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  cursor: pointer;
  padding: 0;
}

.menu-close-btn-icon {
  border-radius: 50%;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--CORNFLOWER);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn-icon:hover,
.menu-close-btn-icon:focus {
  fill: var(--WHITE);
  background-color: var(--OCEAN);
}

.header-nav {
  margin-top: 24px;
  margin-bottom: 168px;
}

.header-nav-list {
}

.header-nav-list-item + .header-nav-list-item {
  margin-top: 40px;
}

.header-nav-list-item-link {
  color: var(--NAVY_BLUE);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus {
  color: var(--OCEAN);
}

/* Contacts */
.header-contacts-wrapper {
  margin-bottom: 48px;
}

.header-contacts-list {
}

.header-contacts-list-item + .header-contacts-list-item {
  margin-top: 24px;
}

.header-contacts-list-item-link {
  color: var(--SLATE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-list-item-link:hover,
.header-contacts-list-item-link:focus {
  color: var(--IRIS);
}

/* Header menue social-mesia */
.menu-wrapper > .social-container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.social-item {
  background-color: var(--IRIS);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:active,
.social-item:hover,
.social-item:focus {
  background-color: var(--OCEAN);
}

.social-link-icon {
  padding: 8px;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }

  .menu-close-btn {
    display: none;
  }

  .logo-dark {
    margin-right: 0;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .header-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .header-nav-list {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 40px;
    position: inherit;
  }

  .header-nav-list-item {
    position: relative;
  }

  .header-nav-list-item:first-child:after,
  .header-nav-list-item:active:after {
    position: absolute;
    bottom: -30px;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--OCEAN);
  }

  .menu-wrapper.is-open {
    display: flex;
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: none;
    padding: 0;
    height: auto;
    position: inherit;
    margin-left: 120px;
  }

  .menu-wrapper > .social-container {
    display: none;
  }

  .header-nav-list-item + .header-nav-list-item {
    margin-top: 0;
  }

  .header-nav-list-item-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .header-contacts-wrapper {
    margin-bottom: 0;
  }

  .header-contacts-list-item + .header-contacts-list-item {
    margin-top: 12px;
  }

  .header-contacts-list-item-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .header-nav-list-item:first-child:after,
  .header-nav-list-item:active:after {
    bottom: -17px;
  }

  .header-contacts-list {
    display: flex;
    gap: 40px;
  }

  .header-contacts-list-item + .header-contacts-list-item {
    margin-top: 0;
  }

  .header-contacts-list-item-link {
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* #endregion HEADER */

/* #region MAIN */

/* #region ORDER SECTION */

.order-section {
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
  text-align: center;
  background-color: var(--GRAY);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/order-secrion/dark-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin: 0 auto 72px;
  max-width: 55%;
  color: var(--WHITE);
}

.order-button {
  color: var(--WHITE);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--IRIS);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: var(--OCEAN);
}

@media screen and (min-width: 768px) {
  .order-section {
    min-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/order-secrion/dark-bg-tablet.jpg');
  }

  .order-title {
    line-height: 1.07;
    max-width: 320px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .order-section {
    min-width: 1158px;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/order-secrion/people-office-desctop.jpg');
  }

  .order-title {
    margin-bottom: 48px;
  }
}
/* #endregion ORDER SECTION */

/* #region STRATAGY SECTION */

.strategy-icon-box {
  display: none;
}

.strategy-title {
  text-align: center;
  margin-bottom: 8px;
  color: var(--NAVY-BLUE);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.strategy-text {
  color: var(--SLATE);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .strategy-list-item + .strategy-list-item {
    margin-top: 72px;
  }
}

@media screen and (min-width: 768px) {
  .strategy-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .strategy-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .strategy-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .strategy-list {
    /* justify-content: space-between; */
  }
  .strategy-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .strategy-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
    background: var(--CLOUD);

    padding: 24px 100px;
    margin-bottom: 8px;
  }

  .strategy-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .strategy-text {
    font-weight: 400;
  }
}
/* #endregion STRATAGY SECTION */

/* #region TEAM SECTION */
.team-section {
  background-color: var(--CLOUD);
}

.team-section-title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-section-item {
  max-width: 264px;
  margin: 0 auto;

  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  padding-bottom: 32px;
}

.team-section-item + .team-section-item {
  margin-top: 72px;
}

.team-card-img {
  margin-bottom: 32px;
}

.team-text-box {
}

.team-item-title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-item-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-item {
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--IRIS);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:hover,
.social-item:focus {
  background-color: var(--OCEAN);
}

.team-social-link {
}

.social-icon {
  padding: 12px;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .team-section-item + .team-section-item {
    margin-top: 0;
  }

  .team-section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 64px 24px;
  }

  .team-section-item {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .team-section-list {
    flex-wrap: nowrap;
  }
}
/* #endregion TEAM SECTION */

/* #region PORTFOLIO SECTION */
.portfolio-title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-item {
  width: 288px;
  margin: 0 auto;
  border: 1px solid var(--CORNFLOWER);
  background-color: var(--WHITE);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 32px;
  cursor: pointer;
}

.portfolio-item + .portfolio-item {
  margin-top: 48px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-cloud);
  background-color: var(--IRIS);
  padding: 40px 32px;
}

.portfolio-item:hover .portfolio-overlay-container .overlay {
  transform: translateY(0%);
}

.portfolio-overlay-container {
  margin-bottom: 32px;
}

.portfolio-text-box {
  padding-left: 16px;
  padding-right: 16px;
}

.portfolio-item-title {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item-text {
  color: var(--SLATE);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px 24px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .portfolio-item + .portfolio-item {
    margin-top: 0;
  }
  .portfolio-img {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 72px) / 3);
  }

  .portfolio-img {
    width: 360px;
  }
}

/* #endregion PROJECT SECTION */

/* #endregion MAIN  */

/* #region FOOTER */
.footer-logo-container {
}

.footer-wrapper {
  background-color: var(--NAVY_BLUE);
}

.footer-text {
  color: var(--CLOUD);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 17.5px;
}

.footer-social-wrapper {
  margin-top: 72px;
  margin-bottom: 72px;
}

.footer-social-tittle {
  color: var(--WHITE);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.footer-social-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-item {
  background-color: var(--IRIS);
  border-radius: 50%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item:hover,
.footer-social-item:focus {
  background-color: var(--OCEAN);
}

.footer-social-icon {
  width: 40px;
  height: 40px;
  padding: 12px;
}

.footer-subs-text {
  color: var(--WHITE);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02px;
  text-align: center;
  margin-bottom: 16px;
}

.footer-subs-label {
  text-align: center;
  display: block;
}

.footer-subs-btn {
  color: var(--WHITE);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  margin: 0 auto;
  min-width: 165px;
  padding: 8px 24px;
  border-radius: 4px;
  background: var(--IRIS);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.footer-subs-btn:hover,
.footer-subs-btn:focus {
  background-color: var(--OCEAN);
}

.footer-subs-label + .footer-subs-btn {
  margin-top: 16px;
}

.footer-subs-input {
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: var(--NAVY-BLUE);
  width: 264px;
  height: 40px;
  flex-shrink: 0;
}

.footer-subs-input::placeholder {
  color: var(--WHITE);
  opacity: 0.6;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04;
  padding: 8px 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
  }

  .footer-center-conent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .flex-element {
    width: 36%;
  }

  .flex-element:last-child {
    flex-grow: 0.6;
  }

  .footer-logo-container {
  }

  .logo-blue.block-center {
    text-align: left;
  }

  .footer-text {
  }

  .footer-social-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-social-tittle {
    text-align: left;
  }

  .footer-social-container {
    justify-content: flex-start;
  }

  .footer-subs {
  }

  .footer-subs-text {
    text-align: left;
  }

  .form-container {
    display: flex;
    gap: 24px;
  }

  .footer-subs-input {
    max-width: 264px;
  }

  .footer-subs-label + .footer-subs-btn {
    margin-top: 0;
  }

  .footer-subs-btn {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-center-conent {
    justify-content: space-between;
  }

  .footer-logo-container {
    max-width: 264px;
  }

  .flex-element {
    width: inherit;
  }

  .flex-element:last-child {
    flex-grow: inherit;
  }
}

/* #endregion FOOTER */

/* #region MODAL ORDER */
/* Class to open modal window*/
.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--NAVY_BLUE_MODAL);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.backdrop.is-open .modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal {
  position: absolute;
  /* top: 60px; */
  top: 50%;
  left: 50%;
  min-width: 288px;
  min-height: 623px;
  padding: 24px 16px;
  border-radius: 4px;
  background-color: var(--DARIY);
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06); */
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal-close-btn {
  display: block;
  margin-left: auto;
  /* fill: var(--CORNFLOWER, #E7E9FC); */
  /* stroke-width: 1px; */
  /* stroke: rgba(0, 0, 0, 0.10); */
  margin-bottom: 24px;
}

.order-modal-title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.order-modal-form-label {
  display: block;
  color: var(--LIGHT-SLATE);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.order-modal-input-box {
  position: relative;
}

.order-modal-form-input {
  outline: transparent;
  padding-left: 38px;
  margin-bottom: 8px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--NAVY_BLUE_MODAL);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal-form-input:focus {
  border-color: var(--IRIS);
}

.order-modal-form-input:focus + .order-modal-icon {
  fill: var(--IRIS);
}

.order-modal-icon {
  fill: var(--NAVY_BLUE);
  position: absolute;
  left: 16px;
  top: 15%;
  /* transform: translateY(-50%); */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal-form-textarea-wrapper {
  margin-bottom: 16px;
}

.order-modal-form-input-text-area {
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--NAVY_BLUE_MODAL);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal-form-input-text-area::placeholder {
  color: var(--LIGHT-SLATE);
  opacity: 0.5;
}

.order-modal-form-input-text-area:focus {
  border-color: var(--IRIS);
}

/* **************checkbox**************** */
.order-modal-ckeckbox-wrapper {
  margin-bottom: 24px;
}

.order-modal-check-box-label {
  display: flex;
}
.order-modal-icon-check-svg {
  margin-right: 8px;
}

/** endcheck **/
.order-modal-btn-submit {
  display: block;
  border: none;
  border-radius: 4px;
  background-color: var(--IRIS);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  color: var(--WHITE);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  min-width: 169px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.order-modal-btn-submit:hover,
.order-modal-btn-submit:focus {
  background-color: var(--OCEAN);
}
/* #endregion MODAL ORDER */
